@import url('https://fonts.googleapis.com/css?family=Quicksand');


input[type="submit"], input[type="button"]{
  border-radius: 25px;
  background-color: #FF5252;
  border: 0.5px solid transparent;
  padding: 5px;
  width: 30%;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

input[type="button"]{
  background-color: #2979FF;
}

h1{
  display: inline-block;
  margin: 5px;
}

hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

p{
  margin: 5px;
  word-wrap: break-word;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

span{
  float: right;
  margin: 5px;
}

#imgProduto{
  width: 410px;
  height: 300px;
}

#mensagem{
  margin-left: 20%;
  margin-top: 20%;
  font-family: 'Quicksand', sans-serif;
}

.card{
   width: 30%;
   margin: 10px;
   display: inline-block;

  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container{
  display: inline-block;
}

.priceIcon{
  float: right;
}
